<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guard Dashboard</title>
    <link rel="stylesheet" href="../../../static/css/dashboard.css">
</head>
<body>

<header>
    <div class="header-container">
        <a href="/logout">
            <button class="header-btn">Logout</button>
        </a>
    </div>
</header>

<main>
    <div class="container">
        <div class="form-box">
            <a href="/check-in">
                <button class="btn">Check In</button>
            </a>
            <a href="/checl-out">
                <button class="btn">Check Out</button>
            </a>
            <a href="/view-logs">
                <button class="btn">View Logs</button>
            </a>
        </div>
    </div>
</main>
<script src="../../../static/Java/script.js"></script>
</body>
</html>
