{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="form-box active" id="form-box">


            <a href="/owner" onclick="showForm('view Logs')">
                <button class="btn">View Logs</button>
            </a>
        </div>
    </div>

        <!-- Check In -->
        <div class="container">
            <div class="form-box " id="check-in">


                <a href="" onclick="showForm('form-box')">
                    <button class="btn">go back</button>
                </a>
            </div>
        </div>
{% endblock %}
