<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Vault</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

    <div class="container">
       <div class="form-box" id="login-form">
           <form action="">

               <h2>Login</h2>
               <label for="login-email"></label><input type="email" name="email" id="login-email" placeholder="Email" required>
               <label for="login-password"></label><input type="password" name="password" id="login-password" placeholder="password" required>
               <button type="submit" name="login">Login</button>
               
               <p>Don't have an account? <a href="#">Register</a></p>
           </form>
       </div>
        <div class="form-box" id="Register-form">select
           <form action="">

               <h2>Login</h2>
               <label for="register-email"></label><input type="email" name="email" id="register-email" placeholder="Email" required>
               <label for="register-password"></label><input type="password" name="password" id="register-password" placeholder="password" required>
               <label for="role"></label><select name="role" id="role">
               <option value="">--Select Role--</option>
               <option value="admin">admin</option>
               <option value="guard">guard</option>
               </select>

               <button type="submit" name="register">Register</button>
               <p>Already have an account? <a href="#">Login</a></p>
           </form>
       </div>


    </div>

</body>
</html>