<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Vault</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>



<div class="container">

    {% if error %}
        <div class="error">
            <ul>
                {% for e in error %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
<!-- login form -->
    <div class="form-box active" id="login-form">
        <form action="{{ url_for('login') }}" method="POST" novalidate>

            <h2>Login</h2>
            <label for="login-email"></label><input type="email" name="email" id="login-email" placeholder="Email" required>
            <label for="login-password"></label><input type="password" name="password" id="login-password" placeholder="password" required>
            <button type="submit" name="login">Login</button>

            <p>Don't have an account? <a href="#" onclick="showForm('register-form')">Register</a></p>
        </form>
    </div>

<!-- login form -->
    <div class="form-box" id="register-form">
        <form action="{{ url_for('register') }}" method="POST" novalidate>

            <h2>Register</h2>
            <label for="register-username"></label><input type="text" name="username" id="register-username" placeholder="Username" required>
            <label for="register-email"></label><input type="email" name="email" id="register-email" placeholder="Email" required>
            <label for="register-password"></label><input type="password" name="password" id="register-password" placeholder="password" required>
            <label for="register-confirm-password"></label><input type="password" name="confirm_password" id="register-confirm-password" placeholder="confirm password" required>
            <label for="role"></label>
            <select name="role" id="role">
                <option value="">--Select Role--</option>
                <option value="owner">owner</option>
                <option value="guard">guard</option>
            </select>

            <button type="submit" name="register">Register</button>
            <p>Already have an account? <a href="#" onclick="showForm('login-form')">Login</a></p>
        </form>
    </div>


</div>

<script src="../../static/Java/script.js"></script>
</body>
</html>
